@model IEnumerable<Scarpe_Co.Models.Articoli>

@{
    ViewBag.Title = "Index";
}

<h2>Scarpe & CO</h2>


@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelitem => item.NomeArticolo)</h5>
            <p>@Html.DisplayFor(modelitem => item.Costo)</p>
        </div>
        <div>
            @Html.ActionLink("Dettagli", "About" , new { id =  item.IDArticolo} )
        </div>
    </div>
}



